body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Barre latérale gauche */
  .menu-vertical {
    width: 140px;
    height: 100vh;
    background-color: #827b7a; /* Couleur à changer si besoin */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }
  
  .menu-vertical a {
    text-decoration: none;
    color: black;
    margin: 20px 0;
    font-size: 12px;
  }
  
  .menu-vertical a:hover {
    font-weight: bold;
  }
  